/Practics/log/DEV_PYTHON_TELEGRAM_BOT_Log.log
/Practics/venv/
/Practics/venv/Lib/
/Practics/venv/Lib/site-packages/
/Practics/venv/Lib/site-packages/_distutils_hack/
/Practics/venv/Lib/site-packages/apscheduler/
/Practics/venv/Lib/site-packages/APScheduler-3.6.3.dist-info/
/Practics/venv/Lib/site-packages/backports/
/Practics/venv/Lib/site-packages/backports.zoneinfo-0.2.1.dist-info/
/Practics/venv/Lib/site-packages/bcrypt/
/Practics/venv/Lib/site-packages/bcrypt-3.2.2.dist-info/
/Practics/venv/Lib/site-packages/cachetools/
/Practics/venv/Lib/site-packages/cachetools-4.2.2.dist-info/
/Practics/venv/Lib/site-packages/certifi/
/Practics/venv/Lib/site-packages/certifi-2021.10.8.dist-info/
/Practics/venv/Lib/site-packages/cffi/
/Practics/venv/Lib/site-packages/cffi-1.15.0.dist-info/
/Practics/venv/Lib/site-packages/chardet/
/Practics/venv/Lib/site-packages/chardet-3.0.4.dist-info/
/Practics/venv/Lib/site-packages/charset_normalizer/
/Practics/venv/Lib/site-packages/charset_normalizer-2.0.12.dist-info/
/Practics/venv/Lib/site-packages/cryptography/
/Practics/venv/Lib/site-packages/cryptography-36.0.2.dist-info/
/Practics/venv/Lib/site-packages/googletrans/
/Practics/venv/Lib/site-packages/googletrans-3.0.0.dist-info/
/Practics/venv/Lib/site-packages/h2/
/Practics/venv/Lib/site-packages/h2-3.2.0.dist-info/
/Practics/venv/Lib/site-packages/h11/
/Practics/venv/Lib/site-packages/h11-0.9.0.dist-info/
/Practics/venv/Lib/site-packages/hpack/
/Practics/venv/Lib/site-packages/hpack-3.0.0.dist-info/
/Practics/venv/Lib/site-packages/hstspreload/
/Practics/venv/Lib/site-packages/hstspreload-2021.12.1.dist-info/
/Practics/venv/Lib/site-packages/httpcore/
/Practics/venv/Lib/site-packages/httpcore-0.9.1.dist-info/
/Practics/venv/Lib/site-packages/httpx/
/Practics/venv/Lib/site-packages/httpx-0.13.3.dist-info/
/Practics/venv/Lib/site-packages/hyperframe/
/Practics/venv/Lib/site-packages/hyperframe-5.2.0.dist-info/
/Practics/venv/Lib/site-packages/idna/
/Practics/venv/Lib/site-packages/idna-2.10.dist-info/
/Practics/venv/Lib/site-packages/nacl/
/Practics/venv/Lib/site-packages/paramiko/
/Practics/venv/Lib/site-packages/paramiko-2.10.4.dist-info/
/Practics/venv/Lib/site-packages/pip/
/Practics/venv/Lib/site-packages/pip-21.3.1.dist-info/
/Practics/venv/Lib/site-packages/pkg_resources/
/Practics/venv/Lib/site-packages/pycparser/
/Practics/venv/Lib/site-packages/pycparser-2.21.dist-info/
/Practics/venv/Lib/site-packages/pymysql/
/Practics/venv/Lib/site-packages/PyMySQL-1.0.2.dist-info/
/Practics/venv/Lib/site-packages/PyNaCl-1.5.0.dist-info/
/Practics/venv/Lib/site-packages/python_telegram_bot-13.11.dist-info/
/Practics/venv/Lib/site-packages/pytz/
/Practics/venv/Lib/site-packages/pytz-2022.1.dist-info/
/Practics/venv/Lib/site-packages/pytz_deprecation_shim/
/Practics/venv/Lib/site-packages/pytz_deprecation_shim-0.1.0.post0.dist-info/
/Practics/venv/Lib/site-packages/requests/
/Practics/venv/Lib/site-packages/requests-2.27.1.dist-info/
/Practics/venv/Lib/site-packages/rfc3986/
/Practics/venv/Lib/site-packages/rfc3986-1.5.0.dist-info/
/Practics/venv/Lib/site-packages/setuptools/
/Practics/venv/Lib/site-packages/setuptools-60.2.0.dist-info/
/Practics/venv/Lib/site-packages/six-1.16.0.dist-info/
/Practics/venv/Lib/site-packages/sniffio/
/Practics/venv/Lib/site-packages/sniffio-1.2.0.dist-info/
/Practics/venv/Lib/site-packages/telegram/
/Practics/venv/Lib/site-packages/telegram-0.0.1.dist-info/
/Practics/venv/Lib/site-packages/tornado/
/Practics/venv/Lib/site-packages/tornado-6.1.dist-info/
/Practics/venv/Lib/site-packages/tzdata/
/Practics/venv/Lib/site-packages/tzdata-2022.1.dist-info/
/Practics/venv/Lib/site-packages/tzlocal/
/Practics/venv/Lib/site-packages/tzlocal-4.2.dist-info/
/Practics/venv/Lib/site-packages/urllib3/
/Practics/venv/Lib/site-packages/urllib3-1.26.9.dist-info/
/Practics/venv/Lib/site-packages/wheel/
/Practics/venv/Lib/site-packages/wheel-0.37.1.dist-info/
/Practics/venv/Lib/site-packages/_cffi_backend.cp38-win_amd64.pyd
/Practics/venv/Lib/site-packages/_virtualenv.pth
/Practics/venv/Lib/site-packages/_virtualenv.py
/Practics/venv/Lib/site-packages/distutils-precedence.pth
/Practics/venv/Lib/site-packages/pip-21.3.1.virtualenv
/Practics/venv/Lib/site-packages/setuptools-60.2.0.virtualenv
/Practics/venv/Lib/site-packages/six.py
/Practics/venv/Lib/site-packages/wheel-0.37.1.virtualenv
/Practics/venv/Scripts/
/Practics/venv/.gitignore
/Practics/venv/pyvenv.cfg
